.footer {
  background-color: #285d63;
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  margin-top: 1rem;
}

.footer__content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__content p {
  margin: 0;
}
